.header {
    display: flex;
    justify-content: space-between;
}

.userPart {
    background-color: #282e33;
    color: #c3c8ce;
    font-size: 1.3rem;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #282e33;
    color: #c3c8ce;
    font-size: 1.3rem;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button:hover {
    background-color: #33383f;
    color: white;
}

.divider {
    width: .1rem;
    border-right: .1rem solid #c3c8ce;
}


